{% extends "./home.html" %}
{% block content %}
{% load crispy_forms_tags %}

<p>All Pruducts</p>
<form method="POST" class="form">
    {% csrf_token %}
    {% if products.exists %}
    {% for item in products %}
    <label class="form-check-label font-weight-bold" for="mycheck">{{item.description}}</label>
    <input type="checkbox" id="mycheck" name="choose" value="{{ item.id }}">
    <input type="number" id="count" name="count" min=1 value=1>
    {% endfor %}
    {% endif %}
    <br>
    <p>You can input your UPS Accout here</p>
    <input type="text" id="ups" name="ups">



    <br>
    <div class="col-4">
        <button class="btn btn-outline-info" type="submit" name="checkout" value="checkout">Check out</button>
    </div>
    <br>
    <br>
    {% if showid is not None %}
    <p>Your package id (tracking number) is: {{showid}}</p>
    {% endif %}
</form>
{% endblock content %}