<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">
    {{ form.media }}
    <title>Amazon</title>
</head>

<body>
    {#    Header#}
    <nav class="navbar navbar-dark bg-dark mb-4 justify-content-between">
        <!-- Navbar content -->
        <li class="nav-item">
            <a class="navbar-brand" href="#">Amazon</a>
        </li>
        <li class="nav-item justify-content-between">
            {% if request.user.is_authenticated %}
            <span class="navbar-text pr-2 align-middle">
                {{ user.get_username }}
            </span>
            <span class="navbar-text align-middle">
                <a href="{% url 'logout' %}" class="btn btn-outline-secondary btn-sm">Log Out</a>
            </span>
            {% else %}<span class="navbar-text align-middle pr-2">
                <a href="{% url 'login' %}" class="btn btn-outline-secondary btn-sm">Login</a>
            </span>
            <span class="navbar-text align-middle">
                <a href="{% url 'user_register' %}" class="btn btn-outline-secondary btn-sm">Sign up</a>
            </span>
            {% endif %}
        </li>

    </nav>
    {#    Container#}
    <div class="container">
        <div class="row">
            {% if request.user.is_authenticated %}
            <div class="col-md-auto pr-5">
                <div class="bg-white">
                    <p class="text-gray font-weight-bold text-uppercase px-3 small pb-4 mb-0">Menu</p>
                    <ul class="nav flex-column bg-white mb-0">
                        <li class="nav-item">
                            <a href="{% url 'buy' %}" class="nav-link text-dark font-italic">
                                <i class="fa fa-th-large mr-3 text-primary fa-fw"></i>
                                Buy Package
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'query' %}" class="nav-link text-dark font-italic">
                                <i class="fa fa-plus mr-3 text-primary fa-fw"></i>
                                Query / Cancel
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'prime_register' %}" class="nav-link text-dark font-italic">
                                <i class="fa fa-users mr-3 text-primary fa-fw"></i>
                                Register Prime
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            {% endif %}
            <div class="col-md-8">
                {% block content %}

                {% endblock content %}
            </div>
        </div>

    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="https://use.fontawesome.com/504d32be05.js"></script>
</body>

</html>