{% extends "./home.html" %}
{% block content %}
{% load crispy_forms_tags %}
<b>Query your package Status</b>
<form method="POST" class="form-inline mt-3">
    {% csrf_token %}
    <div>
        <div class="form-group mx-sm-3 mb-2">
            <input type="text" id="pkg" name="pkg" class="form-control">
            <button class="btn btn-outline-info ml-2" type="submit" name="button1" value="button1"
                placeholder="PackageId / ShipmentId">Query by ID</button>
            {% if info1 is not None %}
            <div class="alert alert-secondary mt-2" role="alert">

                <p>Your package status is: {{info1.id}}, {{info1.get_status_display}}</p>
                <p>Your package status number is: {{info1.status}}</p>
                {% if info1.status <= 4 %}
                <p>Do you want to cancel your order?</p>
                <button class="btn btn-light" type="submit" name="return1" value="return1">Cancel order</button>
                {% else %}
                <p>Sorry you cannot cancel.</p>
                {% endif %}
                {% endif %}
                {% if msg_pkg is not None %}
                <p>{{msg_pkg}}</p>

            </div>
            {% endif %}

        </div>

    </div>

    <div>
        <div class="form-group mx-sm-3 mb-2">
            <input type="text" id="ups" name="ups" class="form-control">
            <button class="btn btn-outline-info ml-2" type="submit" name="button2" value="button2"
                placeholder="UPS account name">Query by UPS</button>
            {% if info2 is not None %}
            <div class="alert alert-secondary" role="alert">

                <p>Your package status is: {{info2.get_status_display}}</p>
                {% if info2.status <= 4 %}
                <p>Do you want to cancel your order?</p>
                <button class="btn btn-light" type="submit" name="return2" value="return2">Cancel order</button>
                {% endif %}
                {% endif %}
                {% if msg_ups is not None %}
                <p>{{msg_ups}}</p>

            </div>
            {% endif %}
        </div>


    </div>
</form>
{% endblock content %}