{% extends "./home.html" %}
{% block content %}
{% load crispy_forms_tags %}
<div>
  <div class="card" style="width: 30rem;">
    <div class="card-body">
      <h5 class="card-title">Sign up</h5>
      <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
          {{ form|crispy }}
        </fieldset>
        <div class="justify-content-between d-flex w-100">
          <button class="btn btn-outline-info" type="submit">Sign Up</button>
          <a class="btn btn-outline-info" href="{% url 'login' %}">Sign In</a>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock content %}